.partner_cont {
   flex-direction: column;
  .partner_list {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(43, 43, 43);
    border-bottom: 1px solid rgb(43, 43, 43);

    .p_box{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        // img{
        //   width: 100%;
        //   height: 100px;
        // }
    }
  }
}
