.sLinkDiv {
  .sLink {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffca00;
    color: #000000;
    font-weight: 500;
    border-radius: 5px;
  }
}
.icon2 {
  img {
    width: 76px;
    height: 60px;
  }
}

.coinImg {
  width: 140px;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-15px);
  }
  60% {
    -moz-transform: translateY(-15px);
  }
}

@-o-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-15px);
  }
  60% {
    -o-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.jd8s768 {
  display: flex;
  align-items: center;
  gap: 10px;
  // button {
  //   display: flex;
  //   align-items: center;
  //   gap: 5px;
  //   color: #ffca00;
  //   font-size: 15px;
  //   position: relative;
  //   top: 10px;
  //   .copyIcon {
  //     font-size: 20px;
  //   }
  // }
  &:nth-child(2) {
    max-width: 200px;

    img{
      position: relative;
      top: 14px;
    }
  }
  &:nth-child(4) {
    max-width: 200px;

    img{
      position: relative;
      top: 14px;
    }
  }

  img {
    width: 17px;
    height: 17px;
    cursor: pointer;
  }
  textarea {
    height: 0px;
    width: 0px;
    opacity: 0;
    padding: 0;
  }
}

.copyAlert {
  position: fixed;
  top: 70px;
  z-index: 100;
  right: 5px;
  margin-left: 20px;
  width: 300px;
  background-color: #ffca00;
  color: #000;
  padding: 10px;
  padding-bottom: 8px;
  padding-top: 8px;
  border-radius: 5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  // opacity: 0;

  // &:after {
  //   content: " ";
  //   position: absolute;
  //   left: -15px;
  //   top: 2px;
  //   border-top: 15px solid transparent;
  //   border-right: 15px solid #ffca00;
  //   border-left: none;
  //   border-bottom: 15px solid transparent;
  // }

  @media screen and (max-width: 370px) {
    font-size: 12px;
    // &:after {
    //   content: " ";
    //   position: absolute;
    //   left: -10px;
    //   top: 2px;
    //   border-top: 10px solid transparent;
    //   border-right: 10px solid #ffca00;
    //   border-left: none;
    //   border-bottom: 10px solid transparent;
    // }
  }
}
