.tHeroLink {
  margin-top: 25px;
  font-size: 20px;
  padding: 15px;
  background-color: #362535;
}
.imageHero {
  &:nth-child(4) {
    -webkit-animation: rotating 10s linear infinite;
    -moz-animation: rotating 10s linear infinite;
    -ms-animation: rotating 10s linear infinite;
    -o-animation: rotating 10s linear infinite;
    animation: rotating 10s linear infinite;
  }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.title {
  text-transform: uppercase;
  @media screen and (max-width: 500px) {
    font-size: 35px;
    line-height: 48px;
  }
}

.scroll {
  position: relative;
  top: -250px;
  z-index: 3;

  @media screen and (max-width: 767px) {
    top: 0px;
  }
}
