.wrap {
  margin-bottom: 80px;
  padding: 80px 40px;
  max-width: 700px;
  margin: auto;
  background: #222325;
  border-radius: 32px;
  .m9JKn {
    .details {
      .title {
        font-size: 32px;
        line-height: 55px;

        @media screen and (max-width: 671px) {
          line-height: 45px;
        }
        @media screen and (max-width: 500px) {
          font-size: 25px;
          line-height: 35px;
        }
      }
      .info {
        margin-top: 16px;
        font-size: 18px;
        line-height: 26px;
        color: #808080;
      }
    }
    .b658 {
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;

      a {
        border: 1px solid #ffffff;
        padding: 10px;
        border-radius: 50px;
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;

        svg {
          width: 35px;
          height: 35px;
        }

        img {
          width: 45px;
          height: 35px;
        }

        &:hover {
          background-color: #252627;
        }
      }

      @media screen and (max-width: 500px) {
        flex-direction: column;
      }
    }
  }
}
